/*GENERAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#8b8b8b;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-weight: 500;
}

/*UTILITIES*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-33 {
    width: 33%;
}

.btn {
    display:inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn.btn-grn {
    background: #7cbb01;
    border: 1px solid transparent;
}

/*SECTION ONE*/

.agreement {
    margin-top: 20px;
    height: 500px;
    background-image: url('..//img/shakehands.svg');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 25% 25%;
}
.agreement .container {
    position: relative;
    height: 100%;
}

.agreement-text {
    position: absolute;
    top: 15%;
    right: 0;
}

.agreement-text h2 {
    color: #000;
}

.agreement-text p {
    margin-top: 40px;
    font-size: 27px;
    margin-bottom: 30px;
}

.agreement-text span {
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 15%;
    font-size: 20px;
    color: #a8b6c2;
}

.agreement-text a {
    position: absolute;
    right: 60%;
    text-align: left;
}

/*SECTION TWO*/

.avaiability .avaiability-img img {
    margin-top: 100px;
    display: inline-block;
    max-height: 300px;
    background-size: contain;
    text-align: center;
}

.avaiability .avaiability-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.avaiability-text h2 {
    font-size: 30px;
    color: #000;
    margin-bottom: 20px;
}

.avaiability-text span {
    color: #7cbb01;
}

.avaiability-text p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

/*SECTION THREE*/

.companies {
    height: 400px;
    background: #0d325a;
}

.companies .companies-text h2 {
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 33px;
    color: #fff;
}

.companies .companies-text p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}

/*SECTION FOUR*/
.course {
    margin-bottom: 80px;
}

.course-left {
    width: 30%;
}

.course-center {
    width: 30%;
    margin: 0 4.5%;
}

.course-right {
    width: 30%;
}

.course-img {
    display:inline-block;
}

.course-img img {
    width: 40%;
    height: 40%;
    background-size: contain;
}

.course .container h2 {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 30px;
    color: #000;
}

.course h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
}

.course p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}
.course .course-left p {
    border-bottom: 10px solid #aaceee;
}

.course .course-center p {
    border-bottom: 10px solid #ebac30;
}

.course .course-right p {
    border-bottom: 10px solid #7cbb01;
}

.course .course-left a {
    display: inline-block;
    padding-top: 20px;
    color: #aaceee;
}

.course .course-center a {
    display: inline-block;
    padding-top: 20px;
    color: #ebac30;
}

.course .course-right a {
    display: inline-block;
    padding-top: 20px;
    color: #7cbb01;
}

/*SECTION FIVE*/

.faq {
    height: 90px;
    background: #0d325a;
}

.faq .container {
    position: relative;
    height: 100%;
}

.faq-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.faq-text h2 {
    color: #fff;
    line-height: 40px;
}

.faq-text span {
    color: #b5922e;
}

.faq-text h5 {
    font-size: 15px;
}

/*FOOTER SITE*/

.main-footer {
    height: 400px;
    background: #17416b;
}

.menu-block {
    list-style: none;
}

.main-footer .container {
    position: relative;
    height: 100%;
}

.footer-text-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.footer-text-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.main-footer h3 {
    line-height:40px;
    color: #fff;
}

.main-footer .menu-block a {
    line-height: 40px;
    text-decoration: none;
    color: #8b8b8b;
}

.main-footer .menu-block a:hover {
    color: #ebac30;
}

.main-footer .footer-text-right {
    text-align: right;
}

.main-footer .footer-text-right h3 {
        line-height: 80px;
}